body {
  display: flex;
  justify-content: center;
  align-content: center;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover ;
  padding: 0;
  margin:0;
  
}


.Text {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;  
}

.quote {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2.5em;
  line-height: 1.5;
}

.author {
  font-style:italic;
  font-size: 1.5rem;    
}
